# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes
attachments
bin
cache
cli
images
includes
layouts
libraries
logs
media
templates
tmp
/LICENSE.txt
/README.txt
/robots.txt
/web.config.txt
/configuration.php
/htaccess.txt
/index.php
administrator
index.html
overrides
overrides
index.html
en-GB
language
components
modules
index.html
/.buildpath
/.project
.settings
language
plugins
composer
